:root {
  --body-bg-color: hsl(0, 0%, 10%);
  --app-bg-color: hsl(0, 5%, 5%);
  --snake-bg-color: hsl(124, 64%, 96%);
  --target-cube-bg-color: hsl(63, 100%, 50%);
  --main-cubes-border: .25vmin solid black;
  --main-green-bg: rgb(5, 59, 5);
  --score-font: "Michroma", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background-color: var(--body-bg-color, black);
}

.game__board {
  position: relative;

  &>.modal__wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 5vmin 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(2px);

    &>.modal__content {
      width: 400px;
      height: 170px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
      background: hsla(0, 0%, 100%, 0.122);
      text-align: center;
      position: relative;
      z-index: 11;
      padding: 2rem;
      border-radius: 10px;

      &>button {
        font-weight: 600;
        border: 0;
        border-radius: 4px;
        font-size: 16px;
        padding: 0.6rem 1rem;
        cursor: pointer;
        background-color: var(--main-green-bg);
        color: #ecf0f1;
        transition: scale 0.2s;

        &:active {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
          scale: 0.98;
        }
      }
    }
  }

  &>.game__board-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-green-bg);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.50);

    &>.score {
      font-family: var(--score-font);
      width: fit-content;
      padding: 6px 12px;
      min-width: 100px;
      font-size: calc(12px + 1vmin);
      color: hsl(120, 95%, 36%);

      &>span {
        padding-left: 12px;
      }
    }
  }

  &:has(.modal__wrapper-hide) {
    &>.modal__wrapper {
      visibility: hidden;
      user-select: none;

    }
  }
}

#app {
  background-color: var(--app-bg-color, #222);
  height: 95vmin;
  width: 100vmin;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  position: relative;

}

.snake {
  background-color: var(--snake-bg-color);
  border: var(--main-cubes-border);
}

.target__cube {
  background-color: var(--target-cube-bg-color);
  border: var(--main-cubes-border);
}

@media (width < 650px) {
  .game__board {
    &>.score {
      top: -30px;
      font-size: calc(10px + 2vw);
    }
  }
}